@import url('../fonts/general-sans/WEB/css/general-sans.css');

:root {
  --primary: #191148;
  --accent: #E6E5FF;
}

* {
  font-family: 'GeneralSans-Regular';
  margin: 0px;
  padding: 0px;
}

.defaults {
  background-color: var(--primary);
}

.navbar {
  font-size: 16px;
  display: flex;
  padding: 30px 110px;
  color: white;
}

.navbar-links {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.navbar-link {
  padding: 18px;
  text-decoration: none;
  color: white;
}

.footer {
  color: var(--primary);
  background-color: var(--accent);
  text-align: center;
  padding: 30px 0px;
}

.footer-icon {
  font-size: 30px;
  color: var(--primary);
  padding: 0px 3px;
}